/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
/* ROOT STYLES */
:root {
    /* WEBSITE COLORS */
    --site-red: #CA0000;
    --site-black: #000000;
    --white-color: #fff;

    /* WEBSITE FONTS */
    --teko-font:'teko', Tahoma, Geneva, Verdana, sans-serif;
    --segoe-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

.main-wrapper{
    display: grid;
    grid-template-columns: 8% 92%;
    background-color: #EDF0F2;
}

.side-2{
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 130px;
} 
  h1, h2{
      font-family: var(--teko-font);
      font-size: 3rem;
      font-weight: 600 !important;
  }


.line-height{
    line-height: 0.8;
}


a{
    color: var(--site-black);
}
 a:hover{
     color: var(--site-red);
     text-decoration: none;
 }
p{
    font-family: var(--segoe-font);
}
.section-p{
    max-width: 400px;
}
/* navigation */

#navigation{
    width: 80%;
    margin-left: 110px;
}
  .section-title-black{
    font-size: 9rem;
    font-weight: 700;
    color: var(--site-black);
    line-height: 0.9;
}

.red-title{
    /* transform: rotate(-90deg); */
    font-size: 8rem;
    font-weight: 600;
    color: var(--site-red); 
    text-transform: uppercase;
    font-family: var(--teko-font);
}

.nav-item{
    padding: 45px !important;
    font-family: var(--segoe-font);
    font-size: 1.3rem;
}
  /*   SIDEBAR NUMBERS */

  .active-number{
      color: var(--site-red);
      font-size: 5rem;
      font-weight: 600 !important;
      font-family: var(--teko-font);
  }
  .side-number{
      color: var(--site-black);
      font-family: var(--teko-font);
      font-size: 4rem;
      font-weight: 800;

  }
 
.arrow-btn{
    background-color: var(--site-red);
    color: var(--white-color);
    font-size: 3rem;
    font-family: var(--segoe-font);
    padding-top: 2px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 20px;
    margin-right: 15px;

}
/* BANNER SENCTION */

.banner-wrapper{
    display: flex;
    justify-content: right;
    width: 90%;
}


.slider-wrapper{
    max-width: 970px;
    margin-right: 55px;
}
/* BANNER section LET'S TALK BUTTON */
.talk-btn{
    font-family: var(--teko-font);
    font-size: 2rem;
    padding: 3px 35px;
    background-color: var(--site-black);
    color: var(--white-color);
    border: none;
}

/* WHY US SECTION */
.why-us-section{
    height: 550px;
    background: var(--site-red);
    width: 100%;
    margin-top: 75px
}
.why-us-section .why-us-content-wrapper p {
    color: var(--white-color);
    font-family: var(--teko-font);
    font-size: 4.5rem;
    font-weight: 900;
}

.why-us-content-wrapper{
    padding-top: 150px;
    padding-left: 180px;
}


/* WEB DESIGN SECTION */

.web-design-section{
    margin-top: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.web-design-image-wrapper{
    width: 50%;   
}

.web-design-content-wrapper{
    width: 35%;   
}



/* SEO SECTION */

.SEO-section{
    margin-top: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.SEO-content-wrapper{
    width: 45%;   
}

.SEO-image-wrapper{
    width: 55%;     
}
/* APP DESIGN SECTION */


.app-design-section{
    margin-top: 80px;
    display: flex;
    width: 90%;
    justify-content: right;
}

.app-design-image-wrapper{
    margin-right: 55px;
}

.app-design-content-wrapper{
    padding-top: 145px;
    max-width: 450px;   
    margin-left: 70px; 
    position: relative;

}

/* LOGO DESIGN SECTION */

.logo-design-wrapper{
    margin-top: 175px;
    display: flex;
    max-width: 90%;
    justify-content: space-around;
    align-items: center;
}


.logo-design-content-wrapper{
  max-width: 500px;
}
.logo-design-image-wrapper{
  margin-left: 70px;
}

.section-subtitle{
    font-weight: 800;
    font-size: 3rem;
    font-family: var(--teko-font);
}

/* Testimonials carusal  */

.carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    background-color: #fff;
    height: 700px;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position:left bottom;
}

.carousel-inner2{
    max-width: 850px;
    margin-left: 70px;
}

.carousel-p{
   font-size: 22px;
}
.carousel-title{
    color: #707070;
    font-size: 3rem;
    font-weight: 600;
}



/* HOME PAGE CONTACT FORM */

.contact-section-wrapper{
    margin-top: 75px;
    display: flex;
    max-width: 85%;
    justify-content: space-around;
}



.contact-section-content-wrapper{
 flex: 1;
 max-width: 550px;
}
.form-fields {
    display: block;
    margin-bottom: 45px;
    width: 100%;
    height: 70px;
    background-color: #000000;
    padding-top: 3px;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

input::-webkit-input-placeholder {
    color: #fff !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
     
    input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff !important;  
    }
     
    input:-ms-input-placeholder {  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff !important;  
    }

    .form-text{
        width: 100%;
        height: 300px;
        margin-bottom: 34px;
        background-color: #000000;
        color: white;
        padding: 25px;
    }

    .contact-section-content{
        max-width: 400px;
        padding-top: 45px;
    }
.form-wrapper{
    width: 570px;
    margin-left: 70px;
    text-align: center;
}

.contact-title{
    font-size: 12rem;
    font-weight: 800;
    color: var(--site-red);
    line-height: 0.7;
}


.contact-subtitle{
 font-family: var(--teko-font);
 font-size: 4rem;
 line-height: 1;
}

/* SHOWCASE */
.showcase-wrapper{
    margin-top: 70px;
    height: 700px;
    width: 100%;
    background-image: url('../images/vena.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-bottom: 55px;
    padding-left: 120px;
  }
.showcase-title{
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase-sub-title{
    color: #fff;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
    
/* SERVICES SECTOIN */
.services-wrapper{
 background-color: #000000;
 height: 600px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 
}


.service-title{
 font-family: var(--teko-font);
 color: #fff;
 font-size: 65px;
}



.service-list{
 list-style: none;
}


.service-link-item{
    color: #fff ;
    font-family: var(--teko-font);
    font-size: 35px;
}

/* BLOG WRAPPER */

.blog-wrapper{
 width: 90%;
}

.blog-section-title{
 padding-top: 80px;
}

.blog-title{
font-size: 8rem;
font-weight: 800;
color: var(--site-red);
line-height: 0.5;

}
.blog-subtitle{
  font-size: 60px;
}
.blog-card-wrapper{
    padding-bottom: 80px;
    max-width: 90%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 50px;
   float: right;
}

.more-blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-blog h1{
    font-size: 4rem;
    color: var(--site-red);
    font-family: var(--segoe-font);
}
.blog-card {
    position: relative;   

   }

.blog-card div{
 background-color: #000000;
 color: var(--white-color);
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 20%;
 margin-bottom: 20px;
 padding-left: 15px;
}

/* SEO PAGE STYLE */

.banner-2-content-wrapper{
    margin-left: 60px;
}

/* PROMOTION SECTION  */
.upto{
 position: absolute;
 left: 0;
 max-width: 110px;
}

.upto-parent{
 position: relative;
}
.promotion-section-wrapper{
    padding-top: 80px;
}

.promotion-section-wrapper > .row > .col p {
  max-width: 600px;
  margin: 0 auto;
}

.pro-inner-div{
    background-color: var(--site-red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    text-align: center;
}

.pro-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.pro-inner-div h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.cta-section{
    padding-top: 90px;
}
.cta-content-wrapper{
    margin-left: 85px;
}

.cta-input {
    margin-bottom: 45px;
    width: 70%;
    height: 70px;
    background-color: #000000;
    padding-top: 3px;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.cta-form-button{
    height: 70px;
    white-space: 20%;
    background-color: var(--site-red);
    color: #fff;
    font-weight: 600;
    border: none; 
    margin-left: -8px;
    font-family: var(--teko-font);
    font-size: 2rem;
    padding-left: 15px;
    padding-right: 15px;
}

/* SEO TOOLS */

.seo-tools-wrapper > .row .col-12 > div{
    max-width: 900px;
    margin: 0 auto;
}


.seo-tools-wrapper{
    padding-top: 80px;
}

/* PAGE >> WEB DESIGN  */
.webdesign-title-wrapper{
    padding-left: 100px;
    margin-top: -300px;
}
.half-cut-title{
    display: flex;
    flex-direction: column;
    font-size: 9rem;
    line-height: 0.8;
    color: var(--site-red);
}

.webdesign-rotate-title{
    font-size: 6rem;
    transform: rotate(-90deg);
    margin-left: -650px;
    overflow: visible;
}
/* IU Expertise */
.ui-xpertise{
    margin-bottom: 200px;
}
.landscape-card-wprapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.landscape-card{
    justify-content: center;
    align-items: center; 
    border: 1px black solid;
    margin: 25px;
    display: flex;
    height: 200px
}
/* FOOTER SECTION */
   .footer-section-wrapper{
    background-image: url('../images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
    padding-right: 200px;
}

.footer-section-wrapper ul  li{
   list-style: none; 
}

.footer-section-wrapper ul  li a{
  color: #fff;
  font-family: var(--teko-font);
  font-size: 2em;
 }

 .footer-section-wrapper h2{
    font-size: 3em;
    font-weight: 600;
   }

.footer-section-wrapper{
    color: #fff;
}

.footer-inner img{
    width: 250px;
}
.footer-inner p{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-family: var(--teko-font);
}

.footer-inner p a{
    color: #fff;
}


