

 /* (SMALL SCREEN SIZE) MOBILE SCREEN < 420PX */
@media only screen and (max-width: 600PX) {
   
    .container{
        max-width: 75%;
        margin: 0 auto;
    }

    .red-title{
        font-size: 4rem;
    }

  .side-bar{
      display: none;
  }

  .main-wrapper{
   display: block
  }
  .section-p{
    max-width: 100%;
}
  .section-title-black{
    font-size:3rem;
    font-weight: 700;
    color: var(--site-black);
    transform-origin: 0 0;
}
.learn-more-btn {
    display: none;
}

.homepage-section-wrapper-img-lg {
    grid-template-columns:1fr;
    max-width: 90%;
    grid-gap:0;
    text-align: center;

}

.subpage-section-wrapper-img-lg {
    grid-template-columns:1fr;
    max-width: 90%;
    grid-gap:0;
    text-align: center;

}

.process-wrapper
{
    display: none;
}

.choose-us-title{
   display: none;
    }

.why-choose-us-wrapper{
margin-top: 44px;
position: static;
height: auto;
display: grid;
grid-template-columns: 1fr;
align-content: center;
justify-content: center;
}
.mob-process-wrapper{
    display: block;
    font-family: 'teko', Tahoma, Geneva, Verdana, sans-serif;;
}
/* collapse wrapper */
.collapse-wrapper{
    padding: 15px;  
}

.card-header button{
    font-size: 2rem;
    }
    .why-choose-us-mob-title{
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        line-height: 0.7;
    }
    .why-choose-us-mob-title > span:nth-child(1){
        color: #CA0000;
        font-size: 6rem;
    }
.guaranti-content-wrapper{
    padding-left: 140px;
    display: none;
    }
    .guaranti-content-wrapper > div > p:nth-of-type(1){
    font-family: 'teko', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
    }
    
    
    .guaranti-content-wrapper > div > p:nth-of-type(2){
    font-size: 10rem;
    }
    
    .guaranti-content-wrapper > div > p:nth-of-type(3){
    font-size: 2rem;

    }

/* cta-section */

.cta-section{
    margin: 30px auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
/* mobile btn */

.learn-more-btn-for-mob{
    display: block;
    background-color: var(--site-red);
    color: #fff;
    width: 225px;
    height: 69px;
    line-height: 69px;
    text-align: center;
    font-size: 42px;
    font-family: var(--teko-font);
    margin: auto;
}
   /* banner  */

.homepage-banner-title-wrapper{
  padding: 5px;
  text-align: center;
}

.homepage-rotate-title{
    font-size: 4rem;
    transform: rotate(0deg);
    position: relative;
    margin-top:auto;
    margin-left: auto;
    
}

.home-page-half-cut-title{
    display: flex;
    flex-direction: row;
    font-size: 8rem;
    justify-content: center;
}
/* why us */
.why-us-section{
    background: var(--site-red);
    width: 100%;
    margin-top: 75px;
    height: auto;
}
.why-us-section .why-us-content-wrapper p {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
}

.why-us-content-wrapper{
    padding: 40px;
}
.why-us-content-wrapper > h1{
    font-size: 20px;
}

.why-us-content-wrapper > span{
    line-height: 1px;
}
/* web design */

.web-design-image-wrapper{
    width: 100%;   
    padding: 15px;
}

.web-design-content-wrapper{
    width: 90%; 
    margin-top: 45px;  
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
.web-design-content-wrapper > h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    line-height: 0.8;
    justify-content: center;
}

.web-design-content-wrapper > h1 {
  font-size:4;
}
/* SEO SECTION */

.SEO-section{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.SEO-content-wrapper{
    width: 100%;
    text-align: center; 
    padding-top: 30px;
}
.SEO-content-wrapper > h2{
    font-size: 2em;
}

.SEO-content-wrapper > h1{
    font-size: 6rem;
    margin-bottom: 25px;
}
.SEO-image-wrapper{
    width: 100%;
    padding: 5px;
}

/* APP DESIGN SECTION */
.app-design-image-wrapper{
    margin:auto;
    padding: 10px;
}

.app-design-content-wrapper{
    margin: auto; 
    padding: 30px 10px;
}

.app-design-content-wrapper > h1{
    font-size: 6rem;
}


/* LOGO DESING */

.logo-design-wrapper{
    margin-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    align-items: center;
}

.rotate-text{
    /* transform: rotate(-90deg); */
    font-size: 4rem;
    font-weight: 600;
    color: var(--site-red); 
    text-transform: uppercase;
}

.logo-design-content-wrapper{
  max-width: 100%;
  text-align: center;
  padding: 15px;
}

.logo-design-content-wrapper > h1 {
    line-height: 0.8;
}
.logo-design-image-wrapper{
  margin: auto;
  padding: 25px;
}

.section-subtitle{
    font-weight: 800;
    font-size: 2rem;
}

/* Testimonials carusal */

.carousel-wrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: auto;
 height: auto;
 padding-top: 45px;
 padding-bottom: 18px;
 background-image: none;
}

.carousel-inner2{
    max-width: 100%;
    margin: auto;
}

.carousel-p{
   font-size: 22px;
   padding: 25px;
}

/* HOME PAGE CONTACT FORM */


.form-wrapper{
    width: 100%;
    margin: auto;
    padding: 25px;
}

.contact-title{
    font-size: 6rem;
    flex-direction: row;
    justify-content: center;
}


.contact-subtitle{
 font-family: var(--teko-font);
 font-size: 4rem;
 line-height: 1;
}

/* show case section */

.showcase-wrapper{
    height: 600px;
    padding: 12px;
  }
.showcase-title{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase-sub-title{
    color: #fff;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* Home page services */
.services-wrapper{
    flex-direction: column;
    justify-items: center;
    height: auto;
    padding: 30px;
   }
   
   .service-title-wrapper{
       text-align: center;
   }
   .service-title{
    font-family: var(--teko-font);
    color: #fff;
    font-size: 45px;
   }
    
   .service-list{
    list-style: none;
   }
      
   .service-link-item{
       color: #fff ;
       font-family: var(--teko-font);
       font-size: 35px;
   }
   
   /* BLOG WRAPPER */

.blog-wrapper{
    width: 90%;
   }
   
   .blog-section-title{
    padding-top: 80px;
   }
   
   .blog-title{
   font-size: 4rem;
   }

   .blog-subtitle{
     font-size: 45px;
   }
   .blog-card-wrapper{
      grid-template-columns: 1fr;
      padding-left: 25px
   }
   
   .blog-card div{
     height: auto;
   }
   
   .more-blog h1{
       font-size: 3rem;
   }
 /* ========================
      END OF HOME PAGE STYLE
    ======================== 
 */

 /* ============
PAGE LOGO DESIGN 
================ */

.logo-design-half-cut-title{
    display: flex;
    flex-direction: row;
    font-size: 5rem;
    justify-content: center;
}

/* card style */

.webdesign-card-wrapper {
    text-align: center;
    margin-top: 45px;
}

.sub-upper-title-wrapper > p:nth-of-type(1){
    font-family: var(--teko-font);
    font-weight: bold;
  }

.sub-upper-title-wrapper > p:nth-of-type(2){
  font-family: var(--teko-font);
  font-size: 43px;
  font-weight: 600;
}

.sub-upper-title-wrapper > h1:nth-of-type(1){
  font-size: 280px;
  color: var(--site-red);
  font-family: var(--teko-font); 
  line-height: 0.8;
}

.sub-upper-title-wrapper > h4:nth-of-type(1){
    font-family: var(--teko-font); 
    font-size: 2rem;
    max-width: 400px;
    line-height: 0.8;
    font-weight: 600;
  }

  .ui-xpertise{
      text-align: center;
  }

   /* ========================
      PAGE APP DEVELOPMENT 
    ======================== 
 */

 .app-dev-banner-wrapper{
    grid-template-columns: 1fr;
    grid-gap: 2px;
    grid-template-areas:
     'appdevimg' 'appdevcontent';
    justify-content: center;
     margin: 70px auto auto auto;
}

.app-dev-banner-image-wrapper{
    grid-area: appdevimg;

}

.app-dev-banner-content-wrapper{
    grid-area: appdevcontent;
}

.app-dev-banner-title{
    font-size: 6rem;
} 

.idea-section{
    margin: 0px auto;
    grid-template-columns: 100%; 
    padding: 10px;
 }
 
 .idea-section h1 {
     font-size: 3rem;
 }
 /* ========================
      PAGE WEB DESIGN
    ======================== 
 */

/* banner */

.web-design-banner{
    grid-template-columns:1fr;
    grid-gap: 50px;
}

.webdesign-banner-content-wrapper{
   padding: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.webdesign-banner-content-wrapper{
    position: relative;
    padding-top: 0;
    padding-left: 0;
}
.webdesign-rotate-title{
    font-size: 4rem;
    transform: rotate(0);
    position: static;
    margin:auto;
}

.half-cut-title{
    display: flex;
    flex-direction: row;
    font-size: 7rem;
}
.webdesign-p{
    max-width: 350px;
    margin-left: 0px;
    text-align: center;
}

/* UI SECTION */

.ui-xpertise> .row >h1 {
    margin: auto;
}
.landscape-card-wprapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
}
.landscape-card > h2 {
    font-size: 2rem;
}
.ui-xpertise{
    margin-bottom: 20px;
}
/* CTA SECTOIN */

.cta-content-wrapper{
    margin: 45px auto;
    text-align: center;
    padding: auto;
}

.cta-input {
    width: 56%;  
}

.cta-form-button{
    width: 35%;
    font-size: 2rem;
}
.cta-overlay-text{
display: none;

}

/* WEB DESIGN BUILDER TOOLS */

.tools-wrapper{
   grid-template-columns: 1fr;
   justify-content: center;
}
.sub-upper-title-wrapper{
    padding-top: 60px;
    text-align: center;
}



.sub-upper-title-wrapper > h1:nth-of-type(1){
  font-size: 145px;
}

/* ===============================================
                PAGE SEO 
=============================================== */
.seo-banner{
    grid-template-columns: 1fr;
    grid-gap: 1px;
}

.seo-banner-content-wrapper{
    text-align: center;
    margin: 15px auto;
    padding: 25px;
}

.seo-banner-content-wrapper > h1{
    font-size: 65px;
}

.seo-banner-image-wrapper{
    padding: 5px;
}


.upto > h2{
    transform: rotate(0);
 }

 .upto{
    position: static;
    margin:auto;
 }

.seo-tools-wrapper{
    margin-top: 0px;
    grid-template-columns: 1fr;
    padding: 10px;
    justify-content: center;
}
.seo-tools-wrapper{
    margin: auto;
}

.seo-tools-wrapper > h2{
    font-size: 2rem;
}

/* PAGE CONTACT US */

.contact-page-wrapper{
    grid-template-columns: 1fr;
}
/* FOOTER SECTION */

/* FOOTER SECTION */
.footer-section-wrapper{
    display: flex;
    flex-direction: column-reverse;
    padding-left: 50px;
    padding-bottom: 25px;
}
   

.footer-section-wrapper ul  li{
   list-style: none; 
}

.footer-section-wrapper ul  li a{
  color: #fff;
  font-family: var(--teko-font);
 }

 .footer-section-wrapper h2{
    font-weight: 600;
   }

.footer-section-wrapper{
    color: #fff;
}

.footer-inner img{
    width: 120px;
}
.footer-inner p{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-family: var(--teko-font);
}

.footer-inner p a{
    color: #fff;
}

  }


  /* (MEDIUM SCREEN) TABLET SCREEN  421PX - 1200PX */


  /* (LARGE SCREEN) 1201PX - 1800PX*/

